
                 
<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Catégorie</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of categories">
          
          <td>{{c.id}}</td>  
            <td>{{c.name}}</td>  
            <td><<!-- img src="assets\img\icons8-trash-20.png" style="margin-right: 10px;">
            <img src="assets\img\icons8-modifier-la-propriété-20.png"> --></td> 
        </tr>
    </tbody>
</table>

