<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- TopBar -->
      <app-top-bar></app-top-bar>

      <div class="container-fluid" id="container-wrapper">
        <div class="container my-5" style="margin-top: 2px">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-10">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h2 class="text-center mb-4">Add Auction</h2>

                  <div class="container mt-4">
                    <form [formGroup]="enchereForm" (ngSubmit)="onSubmit()">
                      <div class="form-group mb-3">
                        <label for="title">Title</label>
                        <input
                          type="text"
                          id="title"
                          formControlName="title"
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            enchereForm.get('title')?.invalid &&
                            enchereForm.get('title')?.touched
                          "
                          class="text-danger"
                        >
                          Title is required.
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label for="description">Description</label>
                        <textarea
                          id="description"
                          formControlName="description"
                          class="form-control"
                        ></textarea>
                      </div>

                      <div class="form-group mb-3">
                        <label for="product">Product</label>
                        <select
                          id="product"
                          formControlName="product"
                          class="form-select"
                        >
                          <option
                            *ngFor="let prod of products"
                            [ngValue]="prod"
                          >
                            {{ prod.name | titlecase }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group mb-3">
                        <label for="startDate">Start Date</label>
                        <input
                          type="date"
                          id="startDate"
                          formControlName="startDate"
                          class="form-control"
                        />
                        <div
                          *ngIf="
                            enchereForm.get('startDate')?.invalid &&
                            enchereForm.get('startDate')?.touched
                          "
                          class="text-danger"
                        >
                          Start Date is required.
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <label for="duration">Duration</label>
                        <input
                          type="text"
                          id="duration"
                          formControlName="duration"
                          class="form-control"
                        />
                      </div>

                      <div class="form-group mb-3">
                        <label for="status">Status</label>
                        <select
                          id="status"
                          formControlName="status"
                          class="form-select"
                        >
                          <option
                            *ngFor="let status of statusOptions"
                            [value]="status"
                          >
                            {{ status | titlecase }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group mb-3">
                        <label for="image">Image</label>
                        <input
                          type="file"
                          id="image"
                          (change)="onFileSelected($event)"
                          class="form-control"
                        />
                      </div>

                      <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="enchereForm.invalid"
                      >
                        Save
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
