<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- TopBar -->
      <app-top-bar></app-top-bar>
    
      <div class="container-fluid" id="container-wrapper">
        <div class="container my-5" style="margin-top: 2px;">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-10">
              <div class="card shadow-sm">
                <div class="card-body">
                  <h2 class="text-center mb-4">Add Product</h2>
                  <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" required>
                        <div *ngIf="addProductForm.get('name')?.invalid && addProductForm.get('name')?.touched">
                          <small class="text-danger">Name is required.</small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" formControlName="price" placeholder="Price" required>
                        <div *ngIf="addProductForm.get('price')?.invalid && addProductForm.get('price')?.touched">
                          <small class="text-danger">Price is required.</small>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" rows="4" class="form-control" formControlName="description" placeholder="Description" required></textarea>
                        <div *ngIf="addProductForm.get('description')?.invalid && addProductForm.get('description')?.touched">
                          <small class="text-danger">Description is required.</small>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <label for="category" class="form-label">Category</label>
                        <select id="category" class="form-control" formControlName="category" required>
                          <option *ngFor="let category of categories" [value]="category.id">
                            {{ category.name }}
                          </option>
                        </select>
                        <div *ngIf="addProductForm.get('category')?.invalid && addProductForm.get('category')?.touched">
                          <small class="text-danger">Category is required.</small>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" (change)="onFileChange($event)">
                        <div *ngIf="addProductForm.get('image')?.invalid && addProductForm.get('image')?.touched">
                          <small class="text-danger">Image is required.</small>
                        </div>
                      </div>
                    </div>

                    <div class="text-center" style="margin-top: 20px;">
                      <button type="submit" class="btn btn-primary" [disabled]="addProductForm.invalid">Add Product</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
