<div class="container mt-4">
    <h3 class="text-center">Liste des Produits</h3>
    <table class="table table-bordered table-hover mt-3">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Catégorie</th>
          <th>Prix</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category?.name }}</td>
          <td>{{ product.price | currency:'USD' }}</td>
          
            <td>
                <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Image Produit" style="width: 100px; height: auto;" />
              </td>
              
          
        </tr>
      </tbody>
    </table>
  </div>
  