


<body id="page-top">
  <div id="wrapper">
 <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <app-top-bar></app-top-bar>
      
        <div class="container-fluid" id="container-wrapper">
          <div class="container my-5" style="margin-top: 2px;">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-10">
                    <div class="card shadow-sm">
                        <div class="card-body">
                          <h2 class="text-center mb-4">List Product</h2>


<div class="container mt-4">
    <table class="table table-bordered table-hover mt-3">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Catégorie</th>
          <th>Prix</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category?.name }}</td>
          <td>{{ product.price | currency:'USD' }}</td>
          
            <td>
                <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Image Produit" style="width: 100px; height: auto;" />
              </td>
              <td style="align-items: center;">
                <img 
              src="assets/edit.png" 
              style="margin-right: 10px; cursor: pointer;" 
             >
              <img src="assets/delete.png" style="cursor: pointer;" >
          </td> 
          
        </tr>
      </tbody>
    </table>
  </div>
                        </div></div></div></div></div></div></div></div></div></body>